.header {
    height: 120px;
    text-align: center;
    overflow: hidden;
}

.navi {
    height:53px;
    margin-top:33px;
}

.navi>li
{
    display: inline-block;
    padding: 0 40px;
}
.navi>img
{
    display: inline-block;
    padding: 0 40px;
}

.navi>li
{
    text-decoration: none;
    color: black;
}

.navi>li:hover
{
    text-decoration: underline;
    color: red;
}
.link{
    color: black;
    text-decoration: none;
}
.link:hover{
    color: red;
    text-decoration: underline;
}

.main_picture {
    height: 464px;
    background-image: url('./img/main.png');
    background-size: 100% 464px;
  }

.icon_title{
    line-height: 26px;
    text-align: center;
    font-size: 10px;
    margin: 30px 0;
}
.icon_title>h1 , p{
    margin: 0;
    padding: 0;
}


.chefs {
    height: 304px;
    background-color: #ececec;
    margin: 30px 0;
}

.chefs>div
{
    width: 771px;
    margin: 0 auto;
    overflow: hidden;
}

.chefs>div>p {
    width: 500px;
    float: left;
    line-height: 26px;
    margin-top: 90px;
  }

.chefs>div>p>h1{
    font-weight: 700;
    font-size: 24px;
    text-decoration: underline;
    line-height: 50px;
    display:inline;
}

.chefs>div>img {
    margin-left: 30px;
  }

